<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js">   </script>
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <div id="app">
    <!-- <div class="User" v-for="User in arrUser" v-if="User.isActive"> -->
        <div class="User" v-for="User in useractive">

        {{User.email}}
    </div>
    </div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            arrUser:[
            {email:'test@gmail.com',isActive:false},
            {email:'test1@gmail.com',isActive:false},
            {email:'test2@gmail.com',isActive:true},
            {email:'test3@gmail.com',isActive:false},
            {email:'test4@gmail.com',isActive:true},
            {email:'test5@gmail.com',isActive:false}
            ]
        },
        methods:{
           
            
        },
        computed:{
            useractive(){
                return User = this.arrUser.filter(function(u){
                    return u.isActive;
                })
            }
        }
    })
</script>
</html>
